{% extends 'base.html' %}
{% block title %} {{ name }} :: {{ block.super }} {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Новые поступления</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-sm-6 mb-3">
            <div class="product-cart">
                <div class="image-img">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}">
                    </a>
                </div>
                <div class="product-details">
                    <a href="{% url 'product' slug=product.slug %}">
                        <h5>{{product.name}}</h5>
                    </a>
                    <div class="product-bottom-details d-flex justify-content-between">
                        <div class="product-price1">
                            <small>{{ product.price }} руб.</small>
                        </div>
                        <div class="product-links">
                            <a href="{% url 'add_to_cart' slug=product.slug %}">
                                <button class="add-to-cart btn btn-success">В корзину</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

